:root {
    --purple: #9d4edd;
    --dark: #0a0a0a; 
    --magenta: #d400ff;
    --bg-soft: rgba(30, 30, 30, 0.8); 
}

body {
    margin: 0;
    background-color: var(--dark);
    background-image: radial-gradient(circle at center, #1a1a1a 0%, #0a0a0a 100%);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow-x: hidden;
}

/* --- TELA DE ENTRADA (SPLASH SCREEN) --- */
#overlay-entrada {
    position: fixed;
    inset: 0;
    background: var(--dark);
    z-index: 11000; /* Acima de tudo mesmo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-entrada {
    text-align: center;
    padding: 50px;
    border: 2px solid var(--purple);
    border-radius: 40px;
    background: rgba(15, 15, 15, 0.98);
    box-shadow: 0 0 40px rgba(157, 78, 221, 0.3);
}

#btn-entrar {
    background: var(--magenta);
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 20px var(--magenta);
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#btn-entrar:hover {
    transform: scale(1.1);
    background: var(--purple);
    box-shadow: 0 0 35px var(--purple);
}

/* --- HEADER / SIDEBAR SUPERIOR --- */
.sidebar-topo {
    width: 100%;
    height: 100px;
    background: rgba(10, 10, 10, 0.95);
    backdrop-filter: blur(12px);
    border-bottom: 3px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 25px rgba(157, 78, 221, 0.4);
}

.sidebar-topo p {
    margin: 0;
    color: var(--magenta);
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-shadow: 0 0 15px var(--magenta);
}

/* --- LAYOUT PRINCIPAL --- */
.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 140px 5% 60px 5%;
}

/* Sidebars Laterais */
.sidebar {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.glass-wrapper {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(157, 78, 221, 0.4);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
}

.glass-wrapper:hover {
    border-color: var(--magenta);
    box-shadow: 0 0 25px var(--purple);
    transform: translateY(-8px) scale(1.05);
}

.sidebar img {
    width: 240px;
    height: auto;
    filter: drop-shadow(0 0 15px var(--purple));
}

/* --- CARD CENTRAL ---
